<!DOCTYPE html>
<html>
<head>
  <title>Confirm Subtopic Deletion</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;
      background: linear-gradient(to right, #c2e59c, #e28f8f);
    }

    h1 {
      text-align: center;
      color: #333;
      margin-top: 20px;
    }

    p {
      text-align: center;
      color: #333;
    }

    form {
      text-align: center;
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      width: 300px;
      margin: 0 auto;
    }

    input[type="text"] {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 3px;
      cursor: pointer;
    }

    button:hover {
      background-color: #089580;
    }
  </style>
</head>
<body>
  <h1>Confirm Subtopic Deletion</h1>
  <p>Enter the subtopic name to confirm deletion:</p>
  <form action="/admin/delete-subtopic/<%= mainTopicId %>/<%= subTopicId %>" method="post">
    <input type="hidden" name="_method" value="DELETE"> <!-- Use a hidden field to indicate DELETE method -->
    <input type="text" name="confirmSubtopicName" placeholder="Enter subtopic name" required>
    <button type="submit">Confirm Deletion</button>
  </form>
</body>
</html>
