<!DOCTYPE html>
<html>
<head>
  <title>Quiz Limit Message</title>
</head>
<body>
  <h1>Quiz Limit Reached</h1>
  <p>You can only take the quiz for this topic once in one hour.</p>
  <p>Please wait for <%= remainingTime %> minutes before taking the quiz again.</p>
</body>
</html>
